.responsive {
    padding: 10px 10px;
    float: left;
    width: 25%;
}

.thebanner {
    width: 35%;
}

.sizing {
    width: 8%;
}

a {
    border: none;
    margin: 0;
    border: 0;
}

.column {
    width: 40%;
    text-align: left;
}

.column2 {
    width: 40%;
    text-align: left;
}

.clients {
    width:30%;
    margin-left:35%;
    margin-right:35%;
}

a img:hover {
    opacity: 75%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
    }
    .thebanner {
        width: 75%;
    }
    .sizing {
        width: 10%;
    }
    .column {
        width: 75%;
    }
    .column2 {
        width: 25%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
    .thebanner {
        width: 100%;
    }
    .sizing {
        width: 12%;
    }
    .column {
         width: 100%;
    }
    .column2 {
        width: 0;
    }
    .clients {
        width:100%;
        margin-left:0;
        margin-right:0;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}