div.gallery {
    margin: 0;
    padding: 0 0;
}

div.gallery:hover {
    margin: 0;
    padding: 0 0;
}

div.gallery img {
    border: 1px solid white;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 0;
}

div.gallery img:hover {
    border: 1px solid grey;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 10px 10px;
    float: left;
    width: 25%;
}

.thebanner {
    width: 50%;
}

.sizing {
    width: 8%;
}

a {
    border: none;
    margin: 0;
    border: 0;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
    }
    .thebanner {
        width: 75%;
    }
    .sizing {
        width: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
    .thebanner {
        width: 100%;
    }
    .sizing {
        width: 12%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}