body {
    background-color: #659DBD;
    text-align: center;
}

h1 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
}

h2 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
    font-style: italic;
}

p {
    color: white;
    font-family: "Verdana", Arial, SansSerif;
    font-size: 10px;
    width: 50%;
    text-align: center;
}