body {
    background-color: #659DBD;
    text-align: center;
}

h1 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
}

h2 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
}

p {
    color: white;
    font-family: "Verdana", Arial, SansSerif;
}