body {
    background-color: #b0afac;
    text-align: center;
}

h1 {
    color: #FBEEC1;
    font-family: "Candara", Arial, SansSerif;
	font-size:2vw;
}

h2 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
	font-size:1.5vw;
}

h3 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
    font-size:1vw;
}

p {
    color: white;
    font-family: "Verdana", Arial, SansSerif;
    margin: auto;
    width: 50%;
    font-style: italic;
	font-size:0.8vw;
}


.icons{
    display:inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
}

a {
    font-family: "Candara", Arial, SansSerif;
    text-decoration: none;
    font-size: 18px;
    text-decoration-color: white;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #FBEEC1;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 17px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 13px;
    }
    p {
        font-size: 11px;
    }
}