h1 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
    font-size: 2vw;
}

h2 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
    font-size: 1.3vw;
}

h3 {
    color: #007EA7;
    font-family: "Candara", Arial, SansSerif;
    font-size: 1vw;
}

p {
    color: white;
    font-family: "Verdana", Arial, SansSerif;
    font-size: 0.9vw;
}

body {
    background-color: black;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-family: "Candara", Arial, SansSerif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    outline: none;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 15px;
}

.button:hover {background-color: lightgrey}

.button:active {
    background-color: white;
    transform: translateY(4px);
}


@media only screen and (max-width: 700px) {

    h1 {
        font-size:17px;
    }
    h2 {
        font-size:15px;
    }
    h3 {
        font-size:13px;
    }
    p {
        font-size:11px;
    }
    .button {
        font-size: 14px;
    }
}